<form action="login.php" method="post" id="toggle_action">

    <table id="log">
        <tr>
            <td>
                <label for="username">Korisničko ime</label>
            </td>
            <td>
                <input type="text" id="username" name="usr">
            </td>
        </tr>
        <tr>
            <td>
                <label for="password">Lozinka</label>
            </td>
            <td>
                <input type="password" name="psd" id="password">
            </td>
        </tr>
        <tr>

            <td>
                <input type="button" value="Otkaži">
            </td>
            <td>
                <input type="submit" value="Prijavi se">
            </td>
        </tr>
    </table>


</form>

